* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
      text-align: center;
       background: no-repeat linear-gradient(140deg, #0a0a0a 60%, #ff4b1f22);
       overflow-x: hidden;
       overflow-y: visible;
}

/* Header */
header {
   background: #000;
    padding: 25px 0;
}



header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1%;
  border: solid 1px;
  color: #ffffff;
  
}

/* Logo */
.logo {
  width: 120px;   /* Taille du logo */
  height: auto;
}

/* Menu */
header nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
 margin: 0 px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-family: "Russo One", sans-serif;
  padding-left: 80px;
}

header nav ul li a:hover {
  color: #F57C00;
}


.hero .hero-content H1 {
  text-align: center;
  color: #EB6E23;
  padding: 100px 20px;
   font-family: "Russo One", sans-serif;
}

.hero .hero-content p {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-top: 1px;
   font-family: "Russo One", sans-serif;
}

.right-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart {
    color: #ff4b1f;
    font-weight: bold;
    text-decoration: none;
}

.contact {
    background: #ff4b1f;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Russo One", sans-serif;
}

.btn-contact:hover {
    background: #ff643c;
}
.section {
    background: #ffffff;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.text-box {
    width: 50%;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
}

.image-box {
    width: 50%;
}

.image-box img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.Motiv{
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20%;
}
/* Reseau sociaux */
.container {
    display: flex;
    gap: 40px;
    margin-top: 5%;
}

.card {
    width: 100%;
    height: 20%;
    background: #b45216;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 20%;
    height: auto;
}


footer  {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 500px;




}