body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Header */
header {
  background-color: #F28500;
  padding: 10px 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  width: 120px;   /* Taille du logo */
  height: auto;
}

/* Menu */
header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #F57C00;
}
